<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EvenStream</title>
</head>
<body>
  
  <div class="header">
    <img src="../assets/img/Vector 1.png">
    <img class="logo" src="../assets/img/Untitled.png">
    <button class="bt-editar" type="submit">EDITAR</button>
    <button class="bt-gravar" type="submit">GRAVAR</button>
  </div>
  <div class="tela">
    <img class="logo-tela" src="../assets/img/logo-tela.png">
  </div>
  <div class="opcoes-tela">

    <input class="person-1" type="image" src="../assets/img/1 person.png" />
    <input class="person-2" type="image" src="../assets/img/2 person.png" />
    <input class="person-sep-2" type="image" src="../assets/img/2 person 2.png" />
    <input class="person-3" type="image" src="../assets/img/3 persons.png" />
    <input class="person-screen" type="image" src="../assets/img/1 person 1 screen.png" />
    <input class="tela-cheia" type="image" src="../assets/img/tela-cheia.png" />
  
  </div>

  <!--Parte direita dos comentários-->

  <div class="banner">
    <div class="exemplo-banner">
      <h6 class="banner-text">Exemplo de Banner, clique para ser exibido na tela.</h6>
    </div>
    <div class="banner-novo">
      <input type="image" src="../assets/img/criar-banner.png" />
    </div>
    <div class="banner-opcoes">
      <input class="chat" type="image" src="../assets/img/chat-privado.png" />
      <input class="marca" type="image" src="../assets/img/marca.png" />
      <input class="banner-icone" type="image" src="../assets/img/banner.png" />
      <input class="comentarios" type="image" src="../assets/img/comentarios.png" />
    </div>
  </div>

  <!--Opção de chamadas-->
  <div class="opcao-chamadas">
    <input class="estudio" type="image" src="../assets/img/opcao-estudio.png" />
    <input class="compartilhar" type="image" src="../assets/img/opcao-compartilhar.png" />
    <input class="config" type="image" src="../assets/img/opcao-config.png" />
    <input class="cam" type="image" src="../assets/img/opcao-cam.png" />
    <input class="mic" type="image" src="../assets/img/opcao-mic.png" />
  </div>

  <!--Área dos palestrantes-->
  <div class="palestrantes">
    <img class="palestrante1" src="../assets/img/palestrante.png">
    <img class="palestrante2" src="../assets/img/palestrante2.png">
  </div>

</body>
</html>