<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EvenStream</title>
</head>
<body>
  <div class="header">
    <img src="../assets/img/Vector 1.png">
    <img class="logo" src="../assets/img/Untitled.png">
    <button class="bt-editar" type="submit">EDITAR</button>
    <button class="bt-gravar" type="submit">GRAVAR</button>
  </div>
  <div class="tela">
    <img class="logo-tela" src="../assets/img/logo-tela.png">
  </div>
  <div class="opcoes-tela">

    <input class="person-1" type="image" src="../assets/img/1 person.png" />
    <input class="person-2" type="image" src="../assets/img/2 person.png" />
    <input class="person-sep-2" type="image" src="../assets/img/2 person 2.png" />
    <input class="person-3" type="image" src="../assets/img/3 persons.png" />
    <input class="person-screen" type="image" src="../assets/img/1 person 1 screen.png" />
    <input class="tela-cheia" type="image" src="../assets/img/tela-cheia.png" />
  
  </div>
</body>
</html>